:root {
  --branco: #ffffff;
  --preto:  #0B1D03;
  --fundo-footer: #F7F1E6;
  --fundo-corpo: #FFFCF6;
  --variedades: #A0996C;
  --fundo-cards: #F7F1E6;
  --text-form: #969696;
}

body {
  max-width: 1900px;
  color: var(--preto);
}

.box-imagem {
  background-image: url(./assets/banner/loja.png);
  background-size: 100%;
  width: 100%;
  height: 1000px;
}

.texto {
  width: 880px;
  position: absolute;
  font-size: 90px;
  font-family: 'Playfair Display', serif;
  left: 150px;
  top: 280px;
  color: var(--branco);
  font-weight: 700;
  line-height: 100px;
}

.texto2 {
  height: 40px;
  width: 680px;
  position: absolute;
  font-size: 40px;
  left: 150px;
  top: 660px;
  color: var(--branco);
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 40px;
}

.arrows {
  display: flex;
  position: absolute;
  left: 150px;
  top: 850px;
}

.direita {
  background-color: transparent;
  padding: 10px;
  cursor: pointer;
  border: none;
}

.esquerda {
  background-color: transparent;
  padding: 10px;
  cursor: pointer;
  border: none;
}

.banner-title {
  position: absolute;
  width: 100%;
  height: 28px;
  margin-left: 870px;
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  display: flex;
  margin-top: 17px;
  align-items: center;
  color:var(--branco);
}

.italico {
  font-style: italic;
}

.carrinho-botao {
  border: none;
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  margin-left: 1750px;
  margin-top: 15px;
  cursor: pointer;
}

.carrinho-logo {
  width: 25px;
  height: 25px;
}

.menu-botao {
  background-color: transparent;
  display: flex;
  left: 140px;
  position: absolute;
  cursor: pointer;
  border: none;
  margin-top: 11px;
}

.menu-logo {
  width: 40px;
  height: 40px;
}

.container-nav {
  width: 20px;
  height: 2px;
  top: 35px;
  left: 4px;
  position: absolute;
}

.card4 {
  position: absolute;
  width: 32px;
  height: 4px;
  left: 150px;
  top: 295px;
  border-radius: 10px;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--fundo-corpo);
}

.destaques {
  width: 85%;
  padding: 130px 150px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.destaque {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 144px;
}

.destaque img {
  width: 707px;
  height: 560px;
}

.destaque-texto h2{
  color: var(--preto);
  font-family: 'Playfair Display', serif;
  font-size: 56px;
}

.destaque-texto p {
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  line-height: 40px;
  font-size: 32px;
}

.destaque-texto {
  width: 35%;
  margin-left: 203px;
  margin-right: 203px;
}

h2 {
  color: var(--variedades);
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 56px;
  margin-left: 1px;
}

.variety-cards {
  background-image: none;
  padding: 0px 0px 13px;
}

.variety__title {
  color: var(--variedades);
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 56px;
  margin-left: 110px;
}

.cards {
  flex-flow:wrap;
  color: var(--preto);
  margin-block: 50px;
  display: flex;
  width: 95%;
  margin-left: 50px;
}

.card {
  width: 500px;
  height: 560px;
  margin: 20px 10px;
  margin-left: 60px;
  border: none;
  background-color: var(--fundo-cards);
  border-radius: 8px;
}

.cards img {
  max-width: 100%;
  margin-left: 30%;
  margin-top: 20px;
}

.valores {
  display: flex;
  flex-direction: row;
  justify-content:center;
  background-image: none;
}
.valor1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 32px;
}

.valor2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 24px;
  margin-top: 38px;
  margin-left: 10px;
}

.card-tittle p {
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin-left: 20%;
}

.card .text {
  padding: 0 10px 20px;
}

.adicionar {
  background-color: var(--preto);
  color: var(--branco);
  padding: 20px;
  width: 80%;
  margin-left: 42px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 17px;
  cursor: pointer;
}

main .stores {
  flex-flow: row wrap;
  color: var(--preto);
  display: flex;
  margin-block: 50px;
  margin-left: 40px;
  width: 90%;
  justify-content: space-evenly;
}

.store {
  width: 300px;
  height: 130px;
}

.stores img {
  display: flex;
  width: 66px;
  height: 40px;
  margin-left: 120px;

}

.store-tittle p {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-align: center;
}

.catalogos {
  display: flex;
  margin: 110px;
}

.box-cafes {
  background-image: url(./assets/coffee/cafe_torrado.png);
  background-size: 100%;
  width: 800px;
  height: 560px;
  display: flex;
  padding: 20px;
}

.box-acessorios {
  background-image: url(./assets/coffee/cafeteira.png);
  background-size: 100%;
  width: 804px;
  height: 560px;
  display: flex;
  padding: 20px;
  margin-left: 30px;
}

.tittle-catalogo {
  position: absolute;
  display: flex;
  font-weight: 700;
  font-size: 56px;
  font-family: 'Playfair Display', serif;
  color: var(--branco);
  margin-top: 350px;
  margin-left: 75px;
}

.text-catalogo {
  width: 25%;
  display: flex;
  position: absolute;
  font-size: 26px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: var(--branco);
  margin-top: 450px;
  margin-left: 75px;
}

.tittle-acessorios {
  position: absolute;
  display: flex;
  font-weight: 700;
  font-size: 56px;
  font-family: 'Playfair Display', serif;
  color: var(--branco);
  margin-top: 350px;
  margin-left: 75px;
}

.text-acessorios {
  width: 25%;
  display: flex;
  position: absolute;
  font-size: 26px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: var(--branco);
  margin-top: 450px;
  margin-left: 75px;
}

.contato {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--branco);
  background-image: none;
}

.contato h2 { 
  margin: 20px 30px 20px;
  font-weight: 800;
  color: var(--preto);
  font-family: 'Playfair Display', serif;
  font-size: 60px;
  margin-left: 100px;
}

.contato form {
  margin-left: 90px;
  display: flex;
  margin-bottom: 15px;
}

.Cidades {
  border: 2px solid var(--preto);
  margin-left: 15px;
  padding: 20px;
  display: flex;
  width: 500px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 20px;
  padding-left: 20px;
}

.divendereco{
  border: 2px solid var(--preto);
  margin-left: 15px;
  padding: 20px;
  display: flex;
  width: 1100px;
}

#txtBuscaendereco{
  float:center;
  background-color:transparent;
  padding-left:10px;
  margin-top: 10px;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  border: none;
  height: 32px;
  width: 1100px;
}

iframe {
  margin: 15px 30px 40px; 
  display: flex;
  flex-direction: row;
  margin-left: 100px;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--fundo-footer);
}

.containers {
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 300px;
}

.container-titulo {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 300;
}

.container__title {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 28px;
  display: flex;
  color:var(--preto);
  margin-left: 0px;
}

h6 {
  margin-bottom: 15px; 
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 10px 0 10px 0;
}

.link a {
  display: block;
  line-height: 33px;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: var(--preto);
  text-decoration: none;
}

.creditos {
  display: flex;
  flex-direction: row;
  margin: 60px 10px 20px;
  align-items: flex-start;
  justify-content: center;
}

.creditos h6 {
  margin: 0;
  font-size: 15px;
}

.creditos img {
  margin-left: 6px;
  width: 110px;
}
